@font-face {
	font-family: 'FuturaPTBold';
	src: url('../fonts/FuturaPTBold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaPTMedium';
	src: url('../fonts/FuturaPTMedium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaPTLight';
	src: url('../fonts/FuturaPTLight.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

* {
  font-family: 'FuturaPTMedium', sans-serif;
  box-sizing: border-box;
}

body, html {
  min-height: 100vh;
  font-family: 'FuturaPTMedium', sans-serif;
	color: #272727;
	background-color: #F7F7F7;
}

div {
  box-sizing: border-box;
}

.wrapper {
  min-width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1190px;
  padding: 0 20px;
  display: block;
}

@media (max-width: 1210px) {
  .container {
    width: 960px;
    padding: 0 20px;
    display: block;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 600px;
    padding: 0 20px;
    display: block;
  }
}
@media (max-width: 640px) {
  .container {
    width: 320px;
    padding: 0 20px;
    display: block;
  }
}